force-app/main/default/flows/PE_Registration_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Lookup_Noncredit_Term_Record_Type</name>
        <label>Lookup Noncredit Term Record Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Term_Choice_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Term</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NoncreditTermType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <dynamicChoiceSets>
        <description>Most recent noncredit terms to choose from.</description>
        <name>NoncreditTermOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoncreditTermType.Id</elementReference>
            </value>
        </filters>
        <limit>6</limit>
        <object>hed__Term__c</object>
        <outputAssignments>
            <assignToReference>Term.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Term.lms_hed__LMS_Reference_Code__c</assignToReference>
            <field>lms_hed__LMS_Reference_Code__c</field>
        </outputAssignments>
        <sortField>Display_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>PE Registration Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE Registration Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Term_Choice_Screen</name>
        <label>Term Choice Screen</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Term_Registration_Lookup</targetReference>
        </connector>
        <fields>
            <name>Noncredit_Term</name>
            <choiceReferences>NoncreditTermOptions</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Noncredit Term</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Noncredit_Term_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Run_Term_Registration_Lookup</name>
        <label>Run Term Registration Lookup</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <flowName>Search_Opus_Registrations</flowName>
        <inputAssignments>
            <name>Term</name>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Registration</assignToReference>
            <name>Registration</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>RecordType of Noncredit Terms</description>
        <name>NoncreditTermType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Registration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <description>Term to operate in.</description>
        <name>Term</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
</Flow>
