force-app/main/default/flows/PE_Registration_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Import_Registration_Action</name>
        <label>Import Registration Action</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>ImportRegistration</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Registration_Import_Success</targetReference>
        </connector>
        <flowTransactionModel>NewTransaction</flowTransactionModel>
        <inputParameters>
            <name>registrations</name>
            <value>
                <elementReference>Registration</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>Registration</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Lookup_Noncredit_Term_Record_Type</name>
        <label>Lookup Noncredit Term Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Term_Choice_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Term</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NoncreditTermType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Was_Registration_Selected</name>
        <label>Was Registration Selected?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>No Registration</defaultConnectorLabel>
        <rules>
            <name>Registration_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Registration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Import_Registration_Action</targetReference>
            </connector>
            <label>Registration Selected</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <description>Most recent noncredit terms to choose from.</description>
        <name>NoncreditTermOptions</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoncreditTermType.Id</elementReference>
            </value>
        </filters>
        <limit>6</limit>
        <object>hed__Term__c</object>
        <outputAssignments>
            <assignToReference>Term.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Term.lms_hed__LMS_Reference_Code__c</assignToReference>
            <field>lms_hed__LMS_Reference_Code__c</field>
        </outputAssignments>
        <sortField>Display_Order__c</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>PE Registration Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PE Registration Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Registration_Import_Success</name>
        <label>Registration Import Success</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Post_Reg_Create_Link</name>
            <fieldText>&lt;p&gt;Click &lt;a href=&quot;/lightning/r/csuoee__Registration__c/{!Registration.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Registration.Name}&lt;/a&gt; to view imported Registration.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Term_Choice_Screen</name>
        <label>Term Choice Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Run_Term_Registration_Lookup</targetReference>
        </connector>
        <fields>
            <name>Noncredit_Term</name>
            <choiceReferences>NoncreditTermOptions</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Noncredit Term</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Lookup_Noncredit_Term_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Run_Term_Registration_Lookup</name>
        <label>Run Term Registration Lookup</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Was_Registration_Selected</targetReference>
        </connector>
        <flowName>Search_Opus_Registrations</flowName>
        <inputAssignments>
            <name>Term</name>
            <value>
                <elementReference>Term</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Registration</assignToReference>
            <name>Registration</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>RecordType of Noncredit Terms</description>
        <name>NoncreditTermType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>Registration</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Registration__c</objectType>
    </variables>
    <variables>
        <description>Term to operate in.</description>
        <name>Term</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>hed__Term__c</objectType>
    </variables>
</Flow>
