force-app/main/default/flows/Process_PE_Section_Publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_CSUOEE_Dept</name>
        <label>Get CSUOEE Dept</label>
        <locationX>402</locationX>
        <locationY>914</locationY>
        <actionName>AccountRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>Get_Department_Record_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schoolCode</name>
            <value>
                <stringValue>CSUOEE</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Department_Record_Type</name>
        <label>Get Department Record Type</label>
        <locationX>402</locationX>
        <locationY>794</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_CSUOEE_Dept</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Department</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Noncredit_Term_RecordType</name>
        <label>Get Noncredit Term RecordType</label>
        <locationX>314</locationX>
        <locationY>434</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Term</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NoncreditTermRecordType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Course_Offering_Fields</name>
        <label>Set Course Offering Fields</label>
        <locationX>578</locationX>
        <locationY>2954</locationY>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Section_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Section_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Subledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subledger__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Faculty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FacultyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Requires_Canvas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requires_Canvas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.lms_hed__LMS_Reference_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Cross_Listed_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cross_List_Course.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Offering</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CanvasFacilityName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canvas</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSUPrimaryAccountCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>126818</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoncreditRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Noncredit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_or_Update_Check</name>
        <label>Create or Update Check</label>
        <locationX>314</locationX>
        <locationY>2834</locationY>
        <defaultConnector>
            <targetReference>Set_Course_Offering_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Offering.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Course_Offering</targetReference>
            </connector>
            <label>Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Decision</name>
        <label>Delivery Decision</label>
        <locationX>314</locationX>
        <locationY>1370</locationY>
        <defaultConnector>
            <targetReference>Get_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Face to Face</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Facility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.csuoee__Facility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanvasFacilityName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.csuoee__Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Canvas_Facility</targetReference>
            </connector>
            <label>Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Building_Require_Create</name>
        <label>Does Building Require Create?</label>
        <locationX>512</locationX>
        <locationY>1610</locationY>
        <defaultConnector>
            <targetReference>Faculty_has_CSU_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Building Exists</defaultConnectorLabel>
        <rules>
            <name>Building_Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacilityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSU_by_School_Code</targetReference>
            </connector>
            <label>Building Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Term_Exist</name>
        <label>Does Term Exist?</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Department_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Term Requires Create</defaultConnectorLabel>
        <rules>
            <name>Term_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_Offering</targetReference>
            </connector>
            <label>Term Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Faculty_has_CSU_ID</name>
        <label>Faculty has CSU ID?</label>
        <locationX>314</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>Is_Cross_Listing_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CSU ID</defaultConnectorLabel>
        <rules>
            <name>CSU_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Faculty_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Faculty_Contact</targetReference>
            </connector>
            <label>CSU ID Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cross_Listing_Set</name>
        <label>Is Cross Listing Set?</label>
        <locationX>314</locationX>
        <locationY>2498</locationY>
        <defaultConnector>
            <targetReference>Get_Cross_List_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Cross Listing</defaultConnectorLabel>
        <rules>
            <name>Has_Cross_Listing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Cross_Listed_Course__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.csuoee__Cross_Listed_Course__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_or_Update_Check</targetReference>
            </connector>
            <label>No Cross Listing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Course_Noncredit</name>
        <label>Is this Course Noncredit?</label>
        <locationX>710</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Credit</defaultConnectorLabel>
        <rules>
            <name>Noncredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoncreditRecordTypeDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Noncredit_Term_RecordType</targetReference>
            </connector>
            <label>Noncredit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatenateCourseOfferingID</name>
        <dataType>String</dataType>
        <expression>{!$Record.csuoee__Course_Code__c}&amp;&apos; &apos;&amp;{!$Record.csuoee__Section_Number__c}</expression>
    </formulas>
    <formulas>
        <name>GetTermReferenceFromSection</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.csuoee__Section_Reference__c}, 6)&amp;&apos;-NCT&apos;</expression>
    </formulas>
    <interviewLabel>Process PE Section Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process PE Section Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Building</name>
        <label>Create Building</label>
        <locationX>380</locationX>
        <locationY>1850</locationY>
        <assignRecordIdToReference>FacilityId</assignRecordIdToReference>
        <connector>
            <targetReference>Faculty_has_CSU_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Facility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_CSU_by_School_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Facility_Type__c</field>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Facility__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Offering</name>
        <label>Create Course Offering</label>
        <locationX>50</locationX>
        <locationY>2954</locationY>
        <faultConnector>
            <targetReference>Create_Section_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Cross_Listed_To__c</field>
            <value>
                <elementReference>Get_Cross_List_Course.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConcatenateCourseOfferingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Canvas__c</field>
            <value>
                <elementReference>$Record.Requires_Canvas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subledger__c</field>
            <value>
                <elementReference>$Record.Subledger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course__c</field>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Facility__c</field>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Faculty__c</field>
            <value>
                <elementReference>FacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Term__c</field>
            <value>
                <elementReference>Get_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Section_Create_Error</name>
        <label>Create Section Create Error</label>
        <locationX>314</locationX>
        <locationY>3074</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to create Course Offering.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Offering__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Section_Update_Error</name>
        <label>Create Section Update Error</label>
        <locationX>842</locationX>
        <locationY>3194</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to update Course Offering.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Offering__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Term</name>
        <label>Create Term</label>
        <locationX>402</locationX>
        <locationY>1034</locationY>
        <assignRecordIdToReference>Get_Term.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Term_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NoncreditTermRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_CSUOEE_Dept.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Type__c</field>
            <value>
                <stringValue>Semester</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>GetTermReferenceFromSection</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Term__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>512</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Building_Require_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Facility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Facility__c</elementReference>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Canvas_Facility</name>
        <label>Get Canvas Facility</label>
        <locationX>116</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Faculty_has_CSU_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CanvasFacilityName</elementReference>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>710</locationX>
        <locationY>194</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_Course_Noncredit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get Course Offering</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Section_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Section_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Term.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cross_List_Course</name>
        <label>Get Cross List Course</label>
        <locationX>402</locationX>
        <locationY>2618</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cross_Listed_Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CSU_by_School_Code</name>
        <label>Get CSU by School Code</label>
        <locationX>380</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Building</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__School_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CSUPrimaryAccountCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term</name>
        <label>Get Term</label>
        <locationX>314</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Term_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Term_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoncreditTermRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Faculty_Contact</name>
        <label>Lookup Faculty Contact</label>
        <locationX>182</locationX>
        <locationY>2282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Cross_Listing_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSU_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Faculty_ID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FacultyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Course_Offering</name>
        <label>Update Course Offering</label>
        <locationX>578</locationX>
        <locationY>3074</locationY>
        <faultConnector>
            <targetReference>Create_Section_Update_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Course_Offering</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <object>NC_Section_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>FacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacultyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoncreditTermRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
