force-app/main/default/flows/Process_PE_Section_Publish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_CPS_ID</name>
        <label>Get CPS ID</label>
        <locationX>402</locationX>
        <locationY>2642</locationY>
        <actionName>GetCpsSection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Course_Offering</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetCpsSection</nameSegment>
        <outputParameters>
            <assignToReference>MiddlewareResponseData</assignToReference>
            <name>data</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HttpResponseStatus</assignToReference>
            <name>httpStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MiddlewareActionSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_CSUOEE_Dept</name>
        <label>Get CSUOEE Dept</label>
        <locationX>798</locationX>
        <locationY>818</locationY>
        <actionName>AccountRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeId</name>
            <value>
                <elementReference>Get_Department_Record_Type.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>schoolCode</name>
            <value>
                <stringValue>CSUOEE</stringValue>
            </value>
        </inputParameters>
        <nameSegment>AccountRequestor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Department_Record_Type</name>
        <label>Get Department Record Type</label>
        <locationX>798</locationX>
        <locationY>710</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_CSUOEE_Dept</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Department</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PERecordTypeRequestor</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Instructor_Enrollment_RecordType</name>
        <label>Get Instructor Enrollment RecordType</label>
        <locationX>314</locationX>
        <locationY>3698</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Find_Primary_Instructor_on_Section</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <elementReference>NoncreditRecordTypeDeveloperName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PERecordTypeRequestor</nameSegment>
        <outputParameters>
            <assignToReference>InstructorEnrollmentRecordType</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Missing_CPS_ID</name>
        <label>Get CPS ID</label>
        <locationX>1106</locationX>
        <locationY>2750</locationY>
        <actionName>GetCpsSection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Missing_CPS_ID</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>searchTerm</name>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetCpsSection</nameSegment>
        <outputParameters>
            <assignToReference>MiddlewareResponseData</assignToReference>
            <name>data</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>HttpResponseStatus</assignToReference>
            <name>httpStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MiddlewareActionSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Noncredit_Term_RecordType</name>
        <label>Get Noncredit Term RecordType</label>
        <locationX>710</locationX>
        <locationY>386</locationY>
        <actionName>PERecordTypeRequestor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Term</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordTypeName</name>
            <value>
                <stringValue>Term</stringValue>
            </value>
        </inputParameters>
        <nameSegment>PERecordTypeRequestor</nameSegment>
        <outputParameters>
            <assignToReference>NoncreditTermRecordType</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Course_Offering_Fields</name>
        <label>Set Course Offering Fields</label>
        <locationX>1018</locationX>
        <locationY>3050</locationY>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Section_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Section_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Facility__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfPresentFacilityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Subledger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subledger__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.hed__Faculty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IfPresentFacultyId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Requires_Canvas__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Requires_Canvas__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.lms_hed__LMS_Reference_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.Cross_Listed_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cross_List_Course.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OfferingId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Course_Offering.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.CPS_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCpsIdValueOrNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Course_Offering</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Missing_CPS_ID</name>
        <label>Set Missing CPS ID</label>
        <locationX>1106</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>Get_Course_Offering.CPS_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCpsIdValueOrNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Course_Offering_Fields</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>CanvasFacilityName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canvas</stringValue>
        </value>
    </constants>
    <constants>
        <name>CSUPrimaryAccountCode</name>
        <dataType>String</dataType>
        <value>
            <stringValue>126818</stringValue>
        </value>
    </constants>
    <constants>
        <name>InstructorEnrollmentRecordTypeName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Instructor Enrollment</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoncreditRecordTypeDeveloperName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Noncredit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Create_Instructor_Enrollment_if_Faculty_Found</name>
        <label>Create Instructor Enrollment if Faculty Found</label>
        <locationX>710</locationX>
        <locationY>3590</locationY>
        <defaultConnectorLabel>Faculty Missing</defaultConnectorLabel>
        <rules>
            <name>Faculty_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lookup_Faculty_Contact</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Course_Offering.hed__Faculty__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Instructor_Enrollment_RecordType</targetReference>
            </connector>
            <label>Faculty Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_or_Update_Check</name>
        <label>Create or Update Check</label>
        <locationX>710</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Need_to_get_CPS_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Update</defaultConnectorLabel>
        <rules>
            <name>Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Offering.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CPS_ID</targetReference>
            </connector>
            <label>Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delivery_Decision</name>
        <label>Delivery Decision</label>
        <locationX>710</locationX>
        <locationY>1226</locationY>
        <defaultConnector>
            <targetReference>Get_Building</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Face to Face</defaultConnectorLabel>
        <rules>
            <name>Online</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Facility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Online</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.csuoee__Facility__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanvasFacilityName</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.csuoee__Facility__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Canvas_Facility</targetReference>
            </connector>
            <label>Online</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Building_Require_Create</name>
        <label>Does Building Require Create?</label>
        <locationX>908</locationX>
        <locationY>1442</locationY>
        <defaultConnector>
            <targetReference>Faculty_has_CSU_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Building Exists</defaultConnectorLabel>
        <rules>
            <name>Building_Requires_Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FacilityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CSU_by_School_Code</targetReference>
            </connector>
            <label>Building Requires Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Primary_Instructor_Enrollment_Exist</name>
        <label>Does Primary Instructor Enrollment Exist?</label>
        <locationX>314</locationX>
        <locationY>3914</locationY>
        <defaultConnector>
            <targetReference>Create_Primary_Instructor_Enrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Instructor Enrollment Missing</defaultConnectorLabel>
        <rules>
            <name>Primary_Instructor_Enrollment_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Primary_Instructor_on_Section.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_on_Enrollment</targetReference>
            </connector>
            <label>Primary Instructor Enrollment Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Term_Exist</name>
        <label>Does Term Exist?</label>
        <locationX>710</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>Get_Department_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Term Requires Create</defaultConnectorLabel>
        <rules>
            <name>Term_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Term.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Course_Offering</targetReference>
            </connector>
            <label>Term Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Faculty_has_CSU_ID</name>
        <label>Faculty has CSU ID?</label>
        <locationX>710</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Is_Cross_Listing_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No CSU ID</defaultConnectorLabel>
        <rules>
            <name>CSU_ID_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Faculty_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Faculty_Contact</targetReference>
            </connector>
            <label>CSU ID Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Cross_Listing_Set</name>
        <label>Is Cross Listing Set?</label>
        <locationX>710</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>Get_Cross_List_Course</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Cross Listing</defaultConnectorLabel>
        <rules>
            <name>Has_Cross_Listing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.csuoee__Cross_Listed_Course__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.csuoee__Cross_Listed_Course__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_or_Update_Check</targetReference>
            </connector>
            <label>No Cross Listing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Course_Noncredit</name>
        <label>Is this Course Noncredit?</label>
        <locationX>1172</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Credit</defaultConnectorLabel>
        <rules>
            <name>Noncredit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoncreditRecordTypeDeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Noncredit_Term_RecordType</targetReference>
            </connector>
            <label>Noncredit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_get_CPS_ID</name>
        <label>Need to get CPS ID?</label>
        <locationX>1018</locationX>
        <locationY>2642</locationY>
        <defaultConnector>
            <targetReference>Get_Missing_CPS_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CPS ID Missing</defaultConnectorLabel>
        <rules>
            <name>CPS_ID_Already_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Course_Offering.CPS_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Course_Offering_Fields</targetReference>
            </connector>
            <label>CPS ID Already Set</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConcatenateCourseOfferingID</name>
        <dataType>String</dataType>
        <expression>{!$Record.csuoee__Course_Code__c}&amp;&apos; &apos;&amp;{!$Record.csuoee__Section_Number__c}</expression>
    </formulas>
    <formulas>
        <name>GetCpsIdValueOrNull</name>
        <dataType>Number</dataType>
        <expression>IF({!MiddlewareActionSuccess},VALUE({!MiddlewareResponseData.id}),null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>GetTermReferenceFromSection</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.csuoee__Section_Reference__c}, 6)&amp;&apos;-NCT&apos;</expression>
    </formulas>
    <formulas>
        <name>IfPresentFacilityId</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!FacilityId}) == 0,{!Get_Course_Offering.hed__Facility__c},{!FacilityId})</expression>
    </formulas>
    <formulas>
        <name>IfPresentFacultyId</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!FacultyId}) == 0,{!Get_Course_Offering.hed__Faculty__c},{!FacultyId})</expression>
    </formulas>
    <interviewLabel>Process PE Section Publish {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process PE Section Publish</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Building</name>
        <label>Create Building</label>
        <locationX>776</locationX>
        <locationY>1658</locationY>
        <assignRecordIdToReference>FacilityId</assignRecordIdToReference>
        <connector>
            <targetReference>Faculty_has_CSU_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Facility__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_CSU_by_School_Code.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Facility_Type__c</field>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Facility__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Course_Offering</name>
        <label>Create Course Offering</label>
        <locationX>402</locationX>
        <locationY>2750</locationY>
        <assignRecordIdToReference>OfferingId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Instructor_Enrollment_if_Faculty_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Section_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CPS_ID__c</field>
            <value>
                <elementReference>GetCpsIdValueOrNull</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cross_Listed_To__c</field>
            <value>
                <elementReference>Get_Cross_List_Course.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ConcatenateCourseOfferingID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requires_Canvas__c</field>
            <value>
                <elementReference>$Record.Requires_Canvas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subledger__c</field>
            <value>
                <elementReference>$Record.Subledger__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Capacity__c</field>
            <value>
                <elementReference>$Record.Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course__c</field>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Facility__c</field>
            <value>
                <elementReference>FacilityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Faculty__c</field>
            <value>
                <elementReference>FacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Term__c</field>
            <value>
                <elementReference>Get_Term.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>$Record.Section_Reference__c</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Offering__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Instructor_Enrollment_Create_Error</name>
        <label>Create Instructor Enrollment Create Error</label>
        <locationX>842</locationX>
        <locationY>4130</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Primary Instructor Enrollment Create Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Enrollment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Instructor_Enrollment_Update_Error</name>
        <label>Create Instructor Enrollment Update Error</label>
        <locationX>314</locationX>
        <locationY>4130</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Primary Instructor Enrollment Update Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Enrollment__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Primary_Instructor_Enrollment</name>
        <label>Create Primary Instructor Enrollment</label>
        <locationX>578</locationX>
        <locationY>4022</locationY>
        <faultConnector>
            <targetReference>Create_Instructor_Enrollment_Create_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>InstructorEnrollmentRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>FacultyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Course_Offering__c</field>
            <value>
                <elementReference>OfferingId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Primary__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Status__c</field>
            <value>
                <stringValue>Current</stringValue>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Section_Create_Error</name>
        <label>Create Section Create Error</label>
        <locationX>666</locationX>
        <locationY>2858</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to create Course Offering.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Offering__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Section_Update_Error</name>
        <label>Create Section Update Error</label>
        <locationX>1370</locationX>
        <locationY>3266</locationY>
        <inputAssignments>
            <field>hed__Error_Type__c</field>
            <value>
                <stringValue>Object Update</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Full_Message__c</field>
            <value>
                <stringValue>Failed to update Course Offering.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Object_Type__c</field>
            <value>
                <stringValue>hed__Course_Offering__c</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Stack_Trace__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Error__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Term</name>
        <label>Create Term</label>
        <locationX>798</locationX>
        <locationY>926</locationY>
        <assignRecordIdToReference>Get_Term.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Course_Offering</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Term_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>NoncreditTermRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Account__c</field>
            <value>
                <elementReference>Get_CSUOEE_Dept.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>hed__Type__c</field>
            <value>
                <stringValue>Semester</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>lms_hed__LMS_Reference_Code__c</field>
            <value>
                <elementReference>GetTermReferenceFromSection</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Term__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Primary_Instructor_on_Section</name>
        <label>Find Primary Instructor on Section</label>
        <locationX>314</locationX>
        <locationY>3806</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Primary_Instructor_Enrollment_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Primary__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>hed__Course_Offering__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OfferingId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InstructorEnrollmentRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Enrollment__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>hed__Contact__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Building</name>
        <label>Get Building</label>
        <locationX>908</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Building_Require_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Facility_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Building</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Facility__c</elementReference>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Canvas_Facility</name>
        <label>Get Canvas Facility</label>
        <locationX>512</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Faculty_has_CSU_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CanvasFacilityName</elementReference>
            </value>
        </filters>
        <object>hed__Facility__c</object>
        <outputAssignments>
            <assignToReference>FacilityId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Course</name>
        <label>Get Course</label>
        <locationX>1172</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_this_Course_Noncredit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Course_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Course_Offering</name>
        <label>Get Course Offering</label>
        <locationX>710</locationX>
        <locationY>1118</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__Course__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Course.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Section_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Section_Number__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>hed__Term__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Term.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course_Offering__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cross_List_Course</name>
        <label>Get Cross List Course</label>
        <locationX>798</locationX>
        <locationY>2342</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_or_Update_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Course_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cross_Listed_Course__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Course__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CSU_by_School_Code</name>
        <label>Get CSU by School Code</label>
        <locationX>776</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Building</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>hed__School_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CSUPrimaryAccountCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Term</name>
        <label>Get Term</label>
        <locationX>710</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Term_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>$Record.Term_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NoncreditTermRecordType.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>hed__Term__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Faculty_Contact</name>
        <label>Lookup Faculty Contact</label>
        <locationX>578</locationX>
        <locationY>2042</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Cross_Listing_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CSU_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Faculty_ID__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FacultyId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_on_Enrollment</name>
        <label>Update Contact on Enrollment</label>
        <locationX>50</locationX>
        <locationY>4022</locationY>
        <faultConnector>
            <targetReference>Create_Instructor_Enrollment_Update_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Primary_Instructor_on_Section.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>hed__Contact__c</field>
            <value>
                <elementReference>FacultyId</elementReference>
            </value>
        </inputAssignments>
        <object>hed__Course_Enrollment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Course_Offering</name>
        <label>Update Course Offering</label>
        <locationX>1018</locationX>
        <locationY>3158</locationY>
        <connector>
            <targetReference>Create_Instructor_Enrollment_if_Faculty_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Section_Update_Error</targetReference>
        </faultConnector>
        <inputReference>Get_Course_Offering</inputReference>
    </recordUpdates>
    <start>
        <locationX>1046</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Course</targetReference>
        </connector>
        <object>Section_Publish__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>FacilityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FacultyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HttpResponseStatus</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>InstructorEnrollmentRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>MiddlewareActionSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MiddlewareResponseData</name>
        <apexClass>csuoee__MiddlewareActionResponseData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NoncreditTermRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>OfferingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
